.bar-lines {
  .card-title {
    color: #646777 !important;
    font-weight: 500;
    font-size: 1.4em;
  }
  p {
    color: #c1c1c1 !important;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25em;
    font-size: 1.1em;
  }
}