.login-modal-form {
  .modal-content {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.bg-theme {
  color: white;
  background-color: #239dda;
}
