.analisis-mora {
 .text-cards {
   h4 {
     font-size: 1.2em;
   }
   h5 {
     font-size: 1.5em;
     line-height: 1.15em;
     color: #646777;
   }
   p {
     font-size: 1.2em;
   }
 }

 .card-chart {
   h4{
     color: #646777;
   }
   h5{
     color: #c1c1c1;
     font-size: 1.1em;
     line-height: 1.3em;
    }
    
    p {
      color: #c1c1c1;
      font-size: 1.1em;
      line-height: 1.3em;
   }
 }
 .card-lines {
   h4{
     color: #646777;
     font-size: 1.05em;
     font-weight: 600;
   }
    
    p {
      font-size: 1em;
      line-height: 1.2em;
   }
 }
}