.breadcrumb {
  background: none !important;
}

.evolucion-semanal,
.analisis-de-cartera,
.analisis-mora,
.potenciales {

  .cards-flow {
    flex-flow: row wrap;
    .card {
      height: 100%;
    }
    &.cards-column {
      .card {
        height: 100%;
        .card-body {
          display: grid;
          grid-template-rows: 65% 25%;
        }
        .card-top {
          grid-row: 0/1;
          padding-bottom: 20px;
        }
        .card-bottom {
          align-self: flex-end;
          grid-row: 2/3;
        }
      }
    }
  }

  .loop-cards {
    h4 {
      color: #878996 !important;
      font-size: .85rem;
      font-weight: 500;
    }
    h5 {
      color: #646777 !important;
      font-size: 1rem;
      line-height: 1.4rem;
    }
    p {
      color: #9e9e9e;
      font-size: .9rem;
    }
  }
}

.potenciales {
  table th {
    vertical-align: middle !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .evolucion-semanal,
  .analisis-de-cartera,
  .analisis-mora,
  .potenciales {
    .cards-flow {
      .content {
        display: grid;

        .bars-container {
          align-self: flex-end;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1380px) {
  .analisis-de-cartera {
    .loop-cards {
      h5 {
        font-size: .85rem;
      }
    }
  }
}